#
# Copyright (C) 2022-2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service msim_sh /odm/bin/init.qcom.msim.sh
    user root
    group root
    oneshot

on boot
    # Enable smart charging
    write /sys/class/battchg_ext/smart_charging_activation 1

on early-init
    # radio
    wait /dev/block/by-name/LTALabel
    exec_start msim_sh
    setprop ro.boot.product.hardware.sku ${vendor.radio.hardware.sku}

on post-fs
    setprop persist.radio.multisim.config ${vendor.radio.hardware.sku}${vendor.radio.hardware.sku}
    setprop ro.vendor.ltalabel.model ${vendor.radio.ltalabel.model}

on property:ro.vendor.ltalabel.model=XQ-BC72
    setprop ro.vendor.product.rf.id PDX215-C2

on property:ro.vendor.ltalabel.model=XQ-BC62
    setprop ro.vendor.product.rf.id PDX215-A2US

on property:ro.vendor.ltalabel.model=XQ-BC52
    setprop ro.vendor.product.rf.id PDX215-A2

on property:ro.vendor.ltalabel.model=XQ-BC42
    setprop ro.vendor.product.rf.id PDX215-J2
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:ro.vendor.ltalabel.model=A101SO
    setprop ro.vendor.product.rf.id PDX215-S1
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:ro.vendor.ltalabel.model=SOG03
    setprop ro.vendor.product.rf.id PDX215-K1
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:ro.vendor.ltalabel.model=SO-51B
    setprop ro.vendor.product.rf.id PDX215-N1
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:ro.vendor.ltalabel.model=XQ-BQ72
    setprop ro.vendor.product.rf.id PDX214-C2

on property:ro.vendor.ltalabel.model=XQ-BQ62
    setprop ro.vendor.product.rf.id PDX214-A2US

on property:ro.vendor.ltalabel.model=XQ-BQ52
    setprop ro.vendor.product.rf.id PDX214-N1

on property:ro.vendor.ltalabel.model=XQ-BQ42
    setprop ro.vendor.product.rf.id PDX214-J2
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:ro.vendor.ltalabel.model=A103SO
    setprop ro.vendor.product.rf.id PDX214-S1
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:ro.vendor.ltalabel.model=SOG05
    setprop ro.vendor.product.rf.id PDX214-K1N41
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"

on property:ro.vendor.ltalabel.model=SO-53B
    setprop ro.vendor.product.rf.id PDX214-N1
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp-typef.conf"
